.clgBg {
    background-image: url('../../../assets/clgimage/clgbk.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
  }
.regBg {
    background-image: url('../../../assets/person/neon-lights-background-theme_52683-44625.png');

   
  }